<div class="wrapper">
  <h1 class="header">STRIPE NODE API CLIENT</h1>
  <mat-form-field appearance="fill">
    <mat-label>E-mail</mat-label>
    <input matInput [(ngModel)]="formData.email">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Senha</mat-label>
    <input matInput [(ngModel)]="formData.password" type="{{showPassword === false ? 'password' : 'text'}}">
    <mat-icon class="btn-icon" (click)="swapPassword()" matSuffix>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
  <div class="btn-wrapper">
    <button mat-raised-button color="primary" (click)="send()">
      Entrar
    </button>
    <div class="register-link">
     <a routerLink="/register">Não possui uma conta? Cadastre-se aqui.</a>
    </div>
  </div>
</div>
