<!-- <div class="main">
  <div>
    <h3>Coloque o valor: </h3>
    <input type="number" [(ngModel)]="amount"/>
    <h3>Escolha a moeda: </h3>
    <select [(ngModel)]="currency">
      <option value="brl" selected>BRL</option>
      <option value="eur">EUR</option>
      <option value="usd">USD</option>
    </select>
    <br/>
    <button (click)=" paymentIntent()">Enviar</button>
  </div>
  <div class="cardForm" style="width: 500px;">
    <form id="payment-form">

      <div [class.card-wrapper]="hadClientKey">
        <div id="card-element">
        </div>
      </div>

      <div id="card-errors" role="alert"></div>

      <button *ngIf="hadClientKey" id="submit" (click)="pay()">Submit Payment</button>
    </form>
  </div>
</div> -->

<div class="main">
  <h1 class="header">Realizar Pagamento</h1>
  <div style="width:100%; display: flex; flex-direction: column; align-items: center;">
    <mat-form-field appearance="fill">
      <mat-label>Valor em {{getSymbol()}}</mat-label>
      <input matInput type="number" [(ngModel)]="amount">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Moeda</mat-label>
      <mat-select [(ngModel)]="currency">
        <mat-option value="brl" selected>BRL</mat-option>
        <mat-option value="eur">EUR</mat-option>
        <mat-option value="usd">USD</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="cardForm">
      <form id="payment-form">

        <div class="card-wrapper">
          <div id="card-element">
          </div>
        </div>

        <div id="card-errors" role="alert"></div>
      </form>
    </div>
    <div style="width:100%; display: flex; flex-direction: row; justify-content: center;">
      <button mat-raised-button color="primary" (click)="paymentIntent()">
        Efetuar pagamento
      </button>
    </div>
  </div>

</div>
