<div class="wrapper">
  <h1 class="header">REGISTER</h1>
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="formData.name">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>E-mail</mat-label>
    <input matInput [(ngModel)]="formData.email">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Senha</mat-label>
    <input matInput type="{{showPassword === false ? 'password' : 'text'}}" [(ngModel)]="formData.password">
    <mat-icon class="btn-icon" (click)="swapPassword()" matSuffix>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
  <div class="btn-wrapper">
    <button mat-raised-button color="primary" (click)="send()">
      Registrar
    </button>
    <button mat-raised-button color="accent">
      <a routerLink="/">Voltar</a>
    </button>
  </div>
</div>
